nav .navbar-brand {
    font-size: 24px;
}

nav .fas {
    padding-right: 10px;
}

.list-inline {
    padding: 0;
    list-style: none;
}

.list-inline li {
    padding: 0;
    margin:0;
}


.list-inline-item:not(:last-child) {
    margin-right: 0.0rem;
}

/*.keyStats {
    margin-bottom
}
*/

.keyStats .fas {
    padding-right: 10px;
}


.section-heading {
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
}

.section-heading h1 {
    margin: 0 auto;
    color: #39827d;
}

.keyStats {
    /*text-align: center;*/
    background-color: #39827d;
}

.keyStats,
.keyStats h1 {
    color: white;
}

.keyStats div:first-child {
    padding-left: 25px;
}

hr {
    /*background-color: #4f4f4f;*/
    width: 80%;
    height: 1px;
}

.gni-chart-container {
    height: 400px;
    /*width: 600px;*/
}

#gni-chart {
    padding-left: 2%;
    height: 100%;
    width: 90%;
}

.pop_gni-chart-container {
    border: solid 1px;
    height: 400px;
    /*width: 600px;*/
}

#population-chart {
    padding-left: 2%;
    height: 100%;
    width: 90%;
}

.graph-heading {
    text-align: center;
}

.chartHidden {
    display: none;
}

.selectHidden {
    display: none;
}

/*.dc-chart path.area {
    fill-opacity: .5;
}*/

.energyStats .section-heading {
    margin-left: -15px;
    margin-right: -15px;
}

.tfcGraphTitles {
    text-align: center;
}

.tfcChart-container {
    border: solid 1px;
    text-align: center;
    height:550px;
}

.tfcChart-container h4 {
    padding-top: 10px;
}

.pieChart h4 {
    padding-bottom: 20px;
}

.pieChart{
    height:500px;
}

.tfcChart {
    height: 90%;
    width: 100%;
}

.chart-info {
    font-size: 13px;
    color: black;
    text-align: justify;
}

.chart-info p,
.chart-info span {
    display:none;
}

.chart-info span {
    padding-left: 25px;
    cursor: pointer;
}

.year_selector {
    padding-top: 25px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}

.ghg-info span {
    display: none;
}

/*.chart {
    flex: 0 0 auto;
}*/
